Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [3]:
#Duplicate values will be ignored:
    
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
#True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'cherry', 'banana'}

In [5]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'apple', False, True, 'cherry', 'banana'}

In [6]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(len(thisset))

5

In [7]:
# Set Items - Data Types
# Set items can be of any data type:
# String, int and Boolen datatype:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [9]:
# A set with strings, integers and boolean values:
set1={"abc",34,True,40,"male"}
print(type(set1))

<class 'set'>

In [10]:
# The set() Constructor
# It is also possible to use the set() constructor to make a set.

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [11]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

In [12]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [13]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'mango', 'cherry', 'banana', 'papaya'}

In [16]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'banana', 'orange', 'kiwi'}

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# Note: If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [22]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [24]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Loop Items

You can loop through the set items by using a for loop:

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [27]:

# Note: You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [28]:
# All the joining methods and operators can be used to join multiple sets.

# When using a method, just add more sets in the parentheses, separated by commas:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'apple', 'cherry', 'bananas', 'John', 'a', 'Elena', 'c'}

In [29]:
# Note: When using the | operator, separate the sets with more | operators:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 3, 'apple', 'cherry', 'bananas', 'John', 'a', 'Elena', 'c'}

In [30]:
# Join a set with a tuple:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'b', 1, 2, 3, 'a', 'c'}

Update

The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

{'b', 1, 2, 3, 'a', 'c'}
{1, 2, 3}

Intersection

Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [35]:
# Use & to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [37]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

Difference

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [39]:
# Note: You can use the - operator instead of the difference() method, and you will get the same result.
# Use - to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [40]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [41]:
# Symmetric Differences
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [42]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [43]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

# Set Methods

add() - Adds an element to the set

clear() - Removes all the elements from the set

copy()	 	Returns a copy of the set

difference()	-	Returns a set containing the difference between two or more sets

difference_update()	-=	Removes the items in this set that are also included in another, specified set

discard()	 	Remove the specified item

In [44]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'orange', 'cherry'}

In [45]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [46]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [49]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

intersection()	             &	Returns a set, that is the intersection of two other sets

intersection_update()	     &=	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	 	         Returns whether two sets have a intersection or not

issubset()	                 <=	Returns whether another set contains this set or not

 	<	                     Returns whether all items in this set is present in other, specified set(s)

issuperset()	             >=	Returns whether this set contains another set or not

 	>	                     Returns whether all items in other, specified set(s) is present in this set

In [50]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [51]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [54]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [55]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [56]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

pop()	 	                 Removes an element from the set

remove()	 	             Removes the specified element

symmetric_difference()	^	 Returns a set with the symmetric differences of two sets

symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another

union()	|	                  Return a set containing the union of sets

update()	|=	              Update the set with the union of this set and others

In [57]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

In [58]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'cherry', 'google'}

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'banana', 'cherry'}

In [61]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'cherry', 'banana', 'microsoft', 'google'}

In [62]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'cherry', 'banana', 'microsoft', 'google'}